*
!docker/ssh_config
!docker-entrypoint.sh
!import-secrets.sh
!ansible
!aws
!Makefile
!requirements-lock.txt
!test/goss/
!scripts/
# Copy from .gitignore
*.retry
ansible/inventory/*.rc.sh
ansible/callback_plugins/datadog_callback.yml
.virtualenv/
.DS_Store
*.pyc
.venv
