*
!ansible
!aws
!openstack
!packer
!terraform
terraform/.terraform
!Makefile
!requirements.txt
# Copy from .gitignore
*.retry
ansible/group_vars/**/*.local.*
ansible/inventory/*.rc.sh
ansible/callback_plugins/datadog_callback.yml
ansible/roles
.virtualenv/
.DS_Store
*.pyc
.venv
