# Make sure to copy the modifications to .dockerignore
*.retry
ansible/group_vars/**/*.local.*
ansible/inventory/*.rc.sh
ansible/callback_plugins/datadog_callback.yml
.virtualenv/
.DS_Store
*.pyc
.venv
.terraform
test/terraform/terraform.tfstate*
ansible/inventory-list.json
secrets/*
