# Make sure to copy the modifications to .dockerignore
*.retry
ansible/group_vars/**/*.local.*
ansible/vars/node_config.*
ansible/inventory/*.rc.sh
ansible/callback_plugins/datadog_callback.yml
.virtualenv/
.DS_Store
*.pyc
.venv
test/terraform/terraform.tfstate*
test/terraform/.terraform
ansible/inventory-list.json
secrets/*
