dist: trusty
language: python
before_script:
  - ansible --version
  - openstack --version
script:
  - set -e
  - openstack stack create test -e openstack/test/create.yml -t openstack/ae-environment.yml --enable-rollback --wait --dry-run
  - cd ansible && ansible-playbook --check -i localhost, -e 'ansible_python_interpreter="/usr/bin/env python"' environments.yml
  - ansible-lint ansible/setup.yml
  - ansible-lint ansible/monitoring.yml
  - ansible-lint ansible/manage-node.yml
  - ansible-lint ansible/reset-net.yml
deploy:
  - provider: script
    script: ./deploy.sh
    skip_cleanup: true
    on:
      repo: aeternity/infrastructure
      branch: master
cache:
  directories:
    - $HOME/.cache/pip
