ansible-lint==4.3.7
ansible==4.10.0
awscli==1.22.30
boto3==1.20.30
boto==2.49.0
datadog==0.43.0
envdir==1.0.1
wheel==0.37.1
# HashiCorp Vault API client
hvac==0.6.4
# cython issues: https://github.com/yaml/pyyaml/issues/724
PyYAML==5.3.1
