ansible==2.10.7
ansible-base==2.10.16
ansible-lint==5.0.11
awscli==1.19.45
boto==2.49.0
boto3==1.17.45
botocore==1.20.45
bracex==2.2.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
colorama==0.4.3
commonmark==0.9.1
cryptography==36.0.1
dataclasses==0.8
datadog==0.28.0
decorator==5.1.1
docutils==0.15.2
enrich==1.2.7
envdir==1.0.1
hvac==0.6.4
idna==3.3
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==21.3
pyasn1==0.4.8
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.7
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.27.1
rich==11.0.0
rsa==4.7.2
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
s3transfer==0.3.7
six==1.16.0
tenacity==8.0.1
typing_extensions==4.0.1
urllib3==1.26.8
wcmatch==8.3
