---
- name: Configure node servers
  hosts: all
  remote_user: master
  become: yes

  vars:
    project_user: epoch
    devops:
      - dincho
      - amir-hadi
      - acidsennui
    developers:
      - sennui
      - velzevur
      - lucafavatella
      - uwiger
      - zp-sd
      - ThomasArts
      - hanssv
      - happi
      - UlfNorell
      - gorillainduction
    libsodium_version: "1.0.16"
    libsodium_module_version: "23.1.0"

  tasks:
    - name: Create epoch daemon user
      user:
        name: "{{ project_user }}"
        shell: /bin/bash
      tags:
        - project-user

    # Automatic cleanup is not supported. You must remove old keys manually.
    - name: "Setup root SSH authorized keys"
      authorized_key:
        user: "{{ ansible_user }}"
        key: https://github.com/{{ item }}.keys
      with_items: "{{ devops }}"
      tags:
        - ssh-keys
        - devops-ssh-keys

    # Automatic cleanup is not supported. You must remove old keys manually.
    - name: "Add CI master keys"
      authorized_key:
        user: "{{ ansible_user }}"
        key: "{{ lookup('file', item) }}"
      with_items:
        - files/circleci/master_key.pub
      tags:
        - ssh-keys
        - master-ssh-keys

    # Automatic cleanup is not supported. You must remove old keys manually.
    - name: "Setup {{ project_user }} SSH authorized keys"
      authorized_key:
        user: "{{ project_user }}"
        key: https://github.com/{{ item }}.keys
      with_items: "{{ developers }} + {{ devops }}"
      tags:
        - ssh-keys
        - developers-ssh-keys

    # Automatic cleanup is not supported. You must remove old keys manually.
    - name: Add CI deploy key to authorized keys
      authorized_key:
        user: "{{ project_user }}"
        key: "{{ lookup('file', item) }}"
      with_items:
        - files/circleci/deploy_key.pub
      tags:
        - ssh-keys
        - deploy-ssh-keys

    - name: Install dev tools
      apt:
        pkg: "{{ item }}"
        state: installed
        update_cache: yes
      with_items:
        - build-essential
      tags:
        - dev-tools

    - name: Increase ulimit
      pam_limits:
        domain: epoch
        limit_type: soft
        limit_item: nofile
        value: 24576

    - name: Download libsodium
      unarchive:
        src: https://github.com/jedisct1/libsodium/releases/download/{{ libsodium_version }}/libsodium-{{ libsodium_version }}.tar.gz
        dest: /usr/local/src/
        remote_src: yes
      tags:
        - libsodium

    - name: Install libsodium
      command: "{{ item }}"
      with_items:
        - ./configure
        - make
        - make install
        - ldconfig
      args:
        chdir: "/usr/local/src/libsodium-{{ libsodium_version }}"
        creates: "/usr/local/lib/libsodium.so.{{ libsodium_module_version }}"
      tags:
        - libsodium
